.aboutSection {
  padding: 4rem;
  background-color: #f9f9f9;
  text-align: center;
}

.aboutTitle {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  color: #333;
}

.aboutDescription {
  margin: 2rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  color: #777;
}

// Responsive Styles
@media (max-width: 768px) {
  .aboutTitle {
    font-size: 2rem;
  }

  .aboutDescription {
    font-size: 1.2rem;
  }
}
